mark {
  background-color: orange;
  color: black;
}
.progress-bar {
  width: 40%;
  height: 40px;
}
.loading {
  padding: 20px 100px 0px 100px;
}
div.conventional {
  color: blue;
}
div.request {
  color: red;
}
div.inform {
  color: brown;
}
.power-graph {
  align: center; 
  margin: 0px 0px 20px 0px;
}
.panel {
  margin-bottom: 0px;
}
.analyze {
  margin: 15px 0px 15px 0px;
}
.popup-title {
  margin-top: 15px;
  margin-bottom: 15px;
}
.options {
  margin-left: 25px;
}
.email-body {
  width: 150px;
}
.page-header {
  margin: 40px 0px 0px;
}
#springydemo {
  width: 100%;
}
#popup {
  width: 200px;
}

